<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js/vue.js"></script>
</head>
<body>
    <div id="app">
        <div>姓<input type="text" v-model="firstName"></div>
        <div>名<input type="text" v-model="lastName"></div>
        <div>全名<input type="text" v-model="fullName" readonly="true"></div>
    </div>
    <script>
        let vm = new Vue({
            el: '#app', 
            data:{
                firstName:"张",
                lastName:"三",
            },
            methods:{
                // fullName(){
                //     return this.firstName+"-"+this.lastName;
                // }
            },
            computed:{
                fullName:{
                    get(){
                        return this.firstName+"-"+this.lastName;
                    },
                    set(value){
                        this.firstName = value.split('-')[0];
                        this.lastName = value.split('-')[1];
                    },
                },
            },
        });
    </script>
</body>
</html>